/* Winslow on Sept. 5 / 2024 */

body {
	font-family: Arial,Sans-Serif !important;
}

.md-tabs {
	background-color: #e6e6e6 !important;
}

.md-tabs__item, .md-tabs__item--active {
	color: #002145;
	text-shadow: none;
}

.md-tabs__item:hover, .md-tabs__item--active:hover {
	animation-fill-mode: forwards;
	animation-name: nav-btn-trans;
	animation-duration: 0.2s;
}

nav[aria-labelledby="__nav_2_label"]{
    background-color: #fff;
    border: 1px solid #d7e0e7;
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    margin-bottom: 10px;
}

li .md-nav__item {
	border: 1px solid #e5e5e5;
}

@keyframes nav-btn-trans {
  from {
	background-color: #e6e6e6;
	color: #002145;
	}
  to {
	background-color: #1477a0;
	color: #fff;
	}
}
