[data-md-color-scheme="ubc"] {
  --md-primary-fg-color:        #002145;
  --md-primary-fg-color--light: #002145;
  --md-primary-fg-color--dark:  #002145;
  
  --md-text-font: "Arial,Sans-Serif !important";
  --md-code-font: "Arial,Sans-Serif !important";
}


